<div class="show-data-header">Previous Reservations</div>
  <div class="show-data-content">
    <ul>
    <% pet_previous_reservations.each do |reservation| %>
      <li><%= "#{reservation.start_date} to #{reservation.end_date}" %></li>
    <% end %>
    </ul>
  </div>