<div class="show-data-header">Owner Info</div>
  <div class="show-data-content">
    <strong>Owner:</strong> <%= "#{@reservation.user.first_name} #{@reservation.user.last_name}" %><br/>
    <strong>Phone:</strong> <%= @reservation.user.phone %><br/>
    <strong>Address:</strong> <%= @reservation.user.address %>
  </div>
</div>
