<div class="content">
  <h1 align="center">Users</h1>
  <div class="data-container">
    <div class="data-header">
      <ul>
        <li>Name</li>
        <li>Email</li>
        <li>Options</li>
      </ul>
    </div>

    <div class="data-content">
      <% @users.each do |user| %>
        <ul>
          <li><%= user.first_name + ' ' + user.last_name %></li>
          <li><%= user.email %></li>
          <li><%= link_to 'View', user_path(user) %> | <%= link_to 'Edit', edit_user_path(user) %> | Delete</li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
