<div class="center">
  <h4>
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    You must first add a pet before you can perform this action.
  </h4>
  <div class="data-content">
    <a href="<%= new_pet_path %>" class="btn btn-lg btn-primary" title="Add Pet">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add Pet
    </a>
  </div>
</div>