<% provide(:title, "Petsit Bend | About") %>
<div class="content quick-fade-in">
  <h1 align="center">About</h1>
  <div class="data-content slow-fade-in">
    <div class="about-content-box slow-fade-in">
      <div class="page-item-box min-height-extension-a">
        <p class="page-content-header">A Little Bit About Abel...</p>
        <p class="page-content image-float-left slow-fade-in"><img src="https://s3.amazonaws.com/petsit-bend/abel-petsit-bend-owner-small-2.jpg" id="about-img" alt="Abel, Petsit Bend owner"></p>
        <p class="page-content">Petsit Bend was established in 2014 by Abel Trotter. Dedicated to giving pet owners peace of mind while away on their travels, Petsit Bend offers various petsitting services in the Bend area.</p>
        <p class="page-content">Abel has worked in the animal care field for a number of years, both as a dog daycare manager and as a vet assistant. He has experience working with canines, felines, horses, birds, and exotic pets, and is also Pet First Aid Certified by the American Red Cross.</p>
        <p class="page-content">Having established a number of regular clients and repeat customers through positive referrals and testimonials, Abel's goal is to continue to serve the Bend area, meeting new pet pals while studying Computer Science at OSU. An avid hiker, camper, gamer, and musician, you can often find Abel exploring one of Bend's many trails. When he isn't sitting behind his computer growling at code, he enjoys drinking local brews and listening to live music.</p>
      </div>
    </div>
  </div>
</div>
