<div class="content">
  <h1 align="center">FAQ</h1>
  <div class="data-content">
    <div class="faq-data-box">
      <div class="faq-item-box">
        <p class="faq-question">What is Petsit Bend and what services do you offer?</p>
        <p class="faq-answer">Petsit Bend is a petsitting service that caters to clients in Bend, OR. We offer drop-ins and overnight stays for your pet. Visit our <%= link_to 'Services', services_path, title: 'Petsit Bend Services' %> page for more details.</p>
      </div>
      <div class="faq-item-box">
        <p class="faq-question">I'm new to Petsit Bend, what should I do first?</p>
        <p class="faq-answer">If you are new to Petsit Bend, please <%= link_to 'Sign Up', signup_path, title: 'Sign up for Petsit Bend'%> for our services. Next, add your pets by visiting Account > My Pets, and click the 'Add Pet' button. Fill out the form completely to register your pet.</p>
        <p class="faq-answer">To book a reservation, click Account > My Reservations. Fill out the form to create your reservation. Abel will contact you within 1-2 business days to schedule a meet and greet for you and your pets.</p>
      </div>
      <div class="faq-item-box">
        <p class="faq-question">How do I sign up for Petsit Bend services?</p>
        <p class="faq-answer">Please visit the <%= link_to 'Sign Up', signup_path, title: 'Sign up for Petsit Bend'%> page to register for Petsit Bend services!</p>
      </div>
      <div class="faq-item-box">
        <p class="faq-question">I'm all set up with Petsit Bend and leaving on my trip soon. What information should I supply?</p>
        <p class="faq-answer">To make the time away from your pet as pleasant and carefree as possible, please supply:</p>
          <ul class="faq-ul">
            <li>A spare key</li>
            <li>Extra pet food</li>
            <li>Current feeding schedule</li>
            <li>Emergency contact info (name and phone number)</li>
            <li>Current veterinarian and vet clinic info (doctor's name, clinic address, phone number)</li>
            <li>Any special instructions for your pet (likes, dislikes, current issues, etc) </li>
          </ul>
      </div>
      <div class="faq-item-box">
        <p class="faq-question">What forms of payment do you take?</p>
        <p class="faq-answer">Cash or check is the preferred method of payment.</p>
      </div>
      <div class="faq-item-box">
        <p class="faq-question">I need to cancel my reservation, what should I do?</p>
        <p class="faq-answer">A reservation can be cancelled at anytime. Please plan accordingly and notify us as soon as possible if you need to cancel a reservation.</p>
        <p class="faq-answer">To cancel a reservation, log in to your account and go to Account > My Reservations. Find the reservation you would like to cancel and click the 'Cancel' button.</p>
      </div>
      <div class="faq-item-box">
        <p class="faq-question">I don't see any prices listed on the Services page, what are your rates?</p>
        <p class="faq-answer">Please contact <a href="mailto:petsitbend@gmail.com" title="Contact Petsit Bend">petsitbend@gmail.com</a> to inquire about our current rates!</p>
      </div>
      <div class="faq-item-box">
        <p class="faq-question">I'm having a hard time setting up my account or encountering application errors, who should I contact?</p>
        <p class="faq-answer">Feel free to reach out to <a href="mailto:petsitbend@gmail.com" title="Contact Petsit Bend">petsitbend@gmail.com</a> with any questions or concerns.</p>
      </div>
    </div>
  </div>
</div>