<div class="content">
  <h1 align="center">FAQ</h1>
  <div class="data-content">
    <div class="faq-data-box">
      <div class="faq-item-box">
        <p class="faq-question">What is Petsit Bend and what services do you offer?</p>
        <p class="faq-answer">Petsit Bend is a petsitting service that caters to clients in Bend, OR. We offer drop-ins and overnight stays for your pet. Visit our <%= link_to 'Services', services_path, title: 'Petsit Bend Services' %> page for more details.</p>
      </div>
      <div class="faq-item-box">
        <p class="faq-question">How do I sign up for Petsit Bend services?</p>
        <p class="faq-answer">Please visit the <%= link_to 'Sign Up', signup_path, title: 'Sign up for Petsit Bend'%> page to register for Petsit Bend services!</p>
      </div>
      <div class="faq-item-box">
        <p class="faq-question">I am having a hard time setting up my account or encountering application errors, who should I contact?</p>
        <p class="faq-answer">Feel free to reach out to <a href="mailto:petsitbend@gmail.com" title="Contact Petsit Bend">petsitbend@gmail.com</a> with any questions or concerns.</p>
      </div>
    </div>
  </div>
</div>