<div class="center jumbotron quick-fade-in">
  <div class="image-box slow-fade-in">
    <img src="https://s3.amazonaws.com/petsit-bend/penny-2.jpg" id="image" class="img-circle" alt="Penny pitbull: A client utilizing Petsit Bend's pet sitting services.">
    <img src="https://s3.amazonaws.com/petsit-bend/tidus-2.jpg" id="image" class="img-circle" alt="Owner's dog, Tidus, enjoying petsitting and dog walking services in Central Oregon.">
    <img src="https://s3.amazonaws.com/petsit-bend/digger-2.jpg" id="image" class="img-circle" alt="Digger: A Petsit Bend client using our pet sit and dog walking services in Bend, OR.">
  </div>
  <div class="cta-box slowest-fade-in">
    <% if logged_in? %>
      <%= link_to "Make a Reservation", new_reservation_path, class: "btn btn-primary btn-lg btn-xlg", title: "Make a pet sit Reservation" %>
    <% else %>
      <%= link_to "Make a Reservation", signup_path, class: "btn btn-primary btn-lg btn-xlg", title: "Make a pet sit Reservation" %>
    <% end %>
    <%= link_to "Contact", contact_path, class: "btn btn-primary btn-lg btn-xlg", title: "Contact Petsit Bend" %>
  </div>
</div>
