<div class="center jumbotron">
  <div class="image-box">
    <img src="assets/penny-2.jpg" id="image" class="img-circle">
    <img src="assets/tidus-2.jpg" id="image" class="img-circle">
    <img src="assets/digger-2.jpg" id="image" class="img-circle">
  </div>
  <div class="cta-box">
    <% if logged_in? %>
      <%= link_to "Make a Reservation", new_reservation_path, class: "btn btn-primary btn-lg btn-xlg" %>
    <% else %>
      <%= link_to "Make a Reservation", signup_path, class: "btn btn-primary btn-lg btn-xlg" %>
    <% end %>
  </div>
</div>
