<div class="center jumbotron">
  <div class="image-box">
    <img src="assets/penny-2.jpg" id="image" class="img-circle" alt="Penny pitbull: a client utilizing Petsit Bend's petsitting services.">
    <img src="assets/tidus-2.jpg" id="image" class="img-circle" alt="Petsit Bend owner's dog, Tidus, in Bend, OR.">
    <img src="assets/digger-2.jpg" id="image" class="img-circle" alt="Digger: a client of Petsit Bend's petsitting services in Bend, OR.">
  </div>
  <div class="cta-box">
    <% if logged_in? %>
      <%= link_to "Make a Reservation", new_reservation_path, class: "btn btn-primary btn-lg btn-xlg", title: "Make a Reservation" %>
    <% else %>
      <%= link_to "Make a Reservation", signup_path, class: "btn btn-primary btn-lg btn-xlg", title: "Make a Reservation" %>
    <% end %>
  </div>
</div>
