<% provide(:title, "Petsit Bend | Services") %>
<div class="content quick-fade-in">
  <h1 align="center">Services</h1>
  <div class="data-content slow-fade-in">
    <div class="services-image-box slow-fade-in">
      <img src="https://s3.amazonaws.com/petsit-bend/services-drop-ins.jpg" id="image" alt="Petsit Bend offers pet sit drop-in services">
      <img src="https://s3.amazonaws.com/petsit-bend/services-dog-walks.jpg" id="image" alt="Pet sit services include dog walking during drop-ins at Petsit Bend">
      <img src="https://s3.amazonaws.com/petsit-bend/tidus-enjoying-petsit-bend-services.jpg" id="image" alt="Tidus enjoying pet sitting services including overnight stays">
    </div>
    <div class="page-data-box">
      <div class="page-item-box">
        <p class="page-content-header">What Can Petsit Bend Do For You?</p>
        <p class="page-content">Petsit Bend offers petsitting services to the Bend area of Central Oregon. Our services include (but are not limited to) drop-in visits and overnight stays. Our drop-in services also include dog walking, and can be scheduled to occur as few as one, or as many as three times per day!</p>
        <p class="page-content">Have something else in mind? Let us know! Reach out to us via our <%= link_to 'Contact', contact_path, title: 'Contact Petsit Bend' %> page for pricing and inquiries!</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">Drop-in Visits:</p>
        <p class="page-content">We offer any combination of morning, noon, or evening drop-ins to administer medications, feed, and/or take pets on a short walk.</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">Overnight Stays:</p>
        <p class="page-content">Overnight stays are offered for pets that may require special attention, or extra company while you are away.</p>
      </div>
    </div>
  </div>
</div>
