<div class="content">
  <h1 align="center">Services</h1>
  <div class="data-content">
    <div class="page-data-box">
      <div class="page-item-box">
        <p class="page-content-header"></p>
        <div class="services-images-container">
          <div class="services-image-box"><img src="https://s3.amazonaws.com/petsit-bend/services-drop-ins.jpg" id="public-content-img" alt="Petsit Bend offers drop-in services"></div>
          <div class="services-image-box"><img src="https://s3.amazonaws.com/petsit-bend/services-dog-walks.jpg" id="public-content-img" alt="Petsit Bend offers dog walking during drop-ins"></div>
          <div class="services-image-box"><img src="https://s3.amazonaws.com/petsit-bend/tidus-enjoying-petsit-bend-services.jpg" id="public-content-img" alt="Tidus enjoying Petsit Bend services"></div>
        </div>
        <p class="page-content">Petsit Bend offers petsitting services to the Bend area of Central Oregon. Our services include (but are not limited to) drop-in visits and overnight stays.</p>
        <p class="page-content">Have something else in mind? Let us know! <a href="mailto:petsitbend@gmail.com">Contact us</a> for pricing and inquiries!</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">Drop-in Visits:</p>
        <p class="page-content">Morning and evening drop-ins to administer medications, feed, and/or take pets on a short walk.</p>
      </div>
      <div class="page-item-box">
        <p class="page-content-header">Overnight Stay:</p>
        <p class="page-content">For pets that may require special attention, or extra company while you are away.</p>
      </div>
    </div>
  </div>
</div>
