<select class="form-control small-select time-select" id="<%= @day %>-hour-select">
  <option value="default"></option>
  <% hours_generator(1, 12).each do |hour| %>
    <option><%= hour %></option>
  <% end %>
</select>
