$navbar-default-bg: #404040;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #404040;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #bfbfbf;
  transition: background-color 1s;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #000;
  color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #bfbfbf;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  transition: text-shadow 0.5s;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 5px 2px 2px #000;
}

.center {
  text-align: center;
}

.jumbotron {
  background-color: #262626;
  min-height: 675px;
  margin-bottom: 0px;
}

.jumbotron h1 {
  margin-top: 0px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  text-shadow: 5px 2px 2px #000;
}

.image-box {
  width: 100%;
  height: auto;
}

.image-box > #image {
  width: 25%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border: 5px solid #000;
}

.cta-box {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  text-align: center;
}

.btn-xlg {
  font-family: 'Amatic SC', cursive;
  font-size: 1.7em;
  letter-spacing: 5px;
  text-align: center;
  width: 300px;
  background-color: #000;
  color: #fff;
}

.btn-xlg:hover {
  background-color: #000;
  color: #fff;
  letter-spacing: 7px;
  box-shadow: 5px 5px 15px #3c8293;
}

.messages-container {
  text-align: center;
  width: 100%;
  position: absolute;
}

.messages-box {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 700px;
}

.content {
  color: #fff;
  background-color: #262626;
  width: 100%;
  overflow: scroll;
  min-height: 675px;
  padding: 20px;
}

.content h1 {
  margin-top: 0px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  letter-spacing: 5px;
}

.content a {
  color: #bfbfbf;
  transition: color 1s;
}

.content a:hover {
  color: #fff;
  text-decoration: none;
}

.about-content-box {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: left;
  width: 70%;
  max-width: 980px;
}

#public-content-img {
  max-width: 200px;
  width: 100%;
  border: 5px solid #000;
}

.faq-data-box {
  text-align: left;
  width: 70%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.faq-question {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #000;
}

.faq-answer {
  margin-top: -10px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #fff;
  color: #000;
}

.image-float-left {
  float: left;
}

.faq-item-box {
  border: 3px solid #fff;
  transition: box-shadow 0.5s, border 0.5s;
  margin-bottom: 40px;
}

.min-height-extension {
  min-height: 270px;
  background-color: #fff;
}

.faq-item-box:hover {
  bbox-shadow: 5px 5px 10px #fff;
  border: 5px solid #000;
}

.faq-answer > a, .faq-ul > li > a {
  color: #0099cc;
  font-weight: bold;
  transition: color 1s;
}

.faq-answer > a:hover, .faq-ul > li > a:hover {
  color: #35383d;
}

.faq-ul {
  padding-bottom: 5px;
  color: #000;
  background-color: #fff;
  margin-bottom: 0px;
}

.services-images-container {
  margin-left: 2px;
  width: 100%;
  text-align: center;
}

.services-image-box {
  width: 33%;
  float: left;
  margin-bottom: 20px;
  margin-top: 0px;
}

.data-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.data-icon {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

#icon {
  max-width: 50px;
  height: auto;
}

.data-image-box {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

#icon-image {
  max-width: 40px;
  height: auto;
  margin-right: 20px;
}

.data-header {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 50px;
}

.data-header .ul-list, .data-content .ul-list {
  list-style-type: none;
}

.data-header .ul-list .li-list {
  margin-left: 5px;
  margin-right: 5px;
  height: 70px;
  float: left;
  width: 30%;
  background-color: #000;
  color: #fff;
}

.data-content {
  width: 100%;
  text-align: center;
}

.paginate-box {
  margin-top: 10px;
}

.data-content .li-list {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  height: 45px;
  line-height: 45px;
  float: left;
  width: 30%;
  background-color: #fff;
  color: #000;
}

.data-content .li-list a {
  margin-top: 5px;
  color: #fff;
  transition: color 1s;
}

.data-content .li-list a:hover {
  color: #fff;
}

.info-icon {
  width: 30px;
  height: auto;
}

.data-icon-list-box {
  margin: 0 auto;
  width: 100%;
  max-width: 150px;
  text-align: center;
  height: 45px;
}

.data-date-check-box {
  margin: 0 auto;
  display: block;
  float: left;
  width: 30%;
  max-width: 50px;
  color: #000;
  height: 45px;
  line-height: 45px;
}

.data-date-check-box:hover {
  cursor: pointer;
}

#reservation-date-string {
  display: block;
}

#reservation-date-icon {
  display: none;
}

#reservation-date-icon-list-box {
  display: none;
}

.data-date-check-box .tooltiptext {
  float:left;
  border: 1px solid #fff;
  visibility: hidden;
  width: 20%;
  max-width: 150px;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  text-align: center;
  border-radius: 3px;
  padding: 0px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.data-date-check-box:hover .tooltiptext {
  visibility: visible;
}

.show-data-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  height: 35px;
  line-height: 35px;
  width: 80%;
  max-width: 900px;
  background-color: #000;
  color: #fff;
}

.show-data-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  height: auto;
  min-height: 50px;
  width: 80%;
  max-width: 900px;
  background-color: #fff;
  color: #000;
}

.show-edit-box {
  width: 100%;
  text-align: center;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 60%;
}

.btn.btn-primary.btn-med, .btn.btn-primary.btn-lg {
  color: #fff;
  background-color: #000;
  border-color: #fff;
  border-radius: 2px 2px 2px 2px;
  margin-bottom: 30px;
  transition: background-color 1s, letter-spacing 1s;
}

.btn.btn-primary.btn-med:hover, .btn.btn-primary.btn-lg:hover {
  color: #fff;
  background-color: #0099cc;
  border-color: #fff;
  margin-bottom: 30px;
}

.btn.btn-primary.btn-lg {
  margin-top: 20px;
}

.control-label {
  font-family: 'Amatic SC', cursive;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 5px;
}

#ms-pet-list, #ms-user-list {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

div.ms-selectable, div.ms-selection {
  border-radius: 5px;
  padding: 5px;
}

.datepicker {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type=radio] {
  margin-left: 5px;
  margin-right: 10px;
}

#radio-box {
  margin-top: 20px;
}

#radio-label {
  margin-top: 14px;
}

#instructions-count, #testimonials-count {
  margin-top: 5px;
  font-size: 0.8em;
}

#instructions-label {
  margin-top: 10px;
}

textarea {
  margin-top: 10px;
}

.testimonial {
  text-align: left;
  margin: 0 auto;
  width: 60%;
}

.testimonial-image-box {
  float: left;
  margin-top: 25px;
  margin-right: 10px;
  text-align: center;
  width: 10%;
  height: 30px;
}

#testimonial-image {
  width: 50px;
}

.testimonial-content-box {
  float: left;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.testimonial-name-box {
  padding: 10px;
  font-style: italic;
  background-color: #000;
  color: #fff;
}

.testimonial-approved-icon-box {
  text-align: right;
  float: right;
  width: 10%;
}

.testimonial-body-box {
  text-indent: 10px;
  background-color: #fff;
  color: #000;
  padding: 10px;
}

.testimonial-options {
  margin-top: 10px;
}

footer {
  margin-top: 0px;
  width: 100%;
  height: 50px;
  padding: 10px;
  color: #777;
  background-color: #404040;
}

footer a {
  color: #777;
  transition: color 1s;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-size: 0.8em;
}

/* responsive styles */

@media screen and (max-width: 400px) {
  .tooltiptext {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .show-data-header, .show-data-content {
    width: 100%;
  }

  footer ul {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 100%;
  }

  .form-container {
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  #testimonial-image {
    width: 90%;
    margin-top: -10px;
  }
}

@media screen and (max-width: 599px) {
  .faq-data-box {
    width: 90%;
  }

  .about-content-box {
    width: 90%;
  }
}

@media screen and (max-width: 619px) {
  .image-box > #image {
    width: 25%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #000;
  }
}

@media screen and (max-width: 640px) {
  .data-header {
    margin-bottom: 20px;
  }

  .data-header .ul-list .li-list {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #fff;
  }

  .data-icon {
    background-color: #fff;
    border-bottom: 1px solid black;
  }

  .li-list > .btn.btn-primary.btn-med {
    font-size: 1em;
    color: #fff;
    background-color: #000;
    border-color: #fff;
    border-radius: 3px 3px 3px 3px;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 0px;
    width: 100%;
    float: none;
    transition: background-color 1s;
  }

  .li-list > .btn.btn-primary.btn-med:hover {
    background-color: #0099cc;
  }

  .ul-list {
    display: inline-block;
    height: 200px;
    background-color: #fff;
    width: 100%;
    border-radius: 2px 2px 2px 2px;
  }

  .data-date-check-box {
    margin: 0 auto;
    float: left;
    width: 30%;
  }

  .data-content .li-list {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    height: 200px;
    line-height: 45px;
    float: left;
    width: 30%;
    background-color: #fff;
    color: #000;
  }

  #reservation-date-string {
    display: none;
  }

  #reservation-date-icon {
    width: 100%;
    text-align: center;
    display: block;
  }

  #reservation-date-icon-list-box {
    width: 50px;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .image-float-left {
    float: none;
    text-align: center;
  }
}

@media screen and (max-width: 690px) {
  .li-list a {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 716px) {
  .li-list .btn {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 750px) {
  .messages-box {
    margin-left: 20px;
    width: 90%;
  }

  .messages-box > .row {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #bfbfbf;
    transition: color 1s, background-color 1s;
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #000;
  }
}

@media screen and (max-width: 782px) {
  .data-container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .testimonial {
    width: 100%;
  }
}
