$navbar-default-bg: #404040;

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #404040;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #bfbfbf;
  transition: background-color 1s;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #000;
  color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #bfbfbf;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  transition: text-shadow 0.5s;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 5px 2px 2px #000;
}

.center {
  text-align: center;
}

.jumbotron {
  background-color: #262626;
  height: 86%;
  margin-bottom: 0px;
  overflow: auto;
}

.jumbotron h1 {
  margin-top: 0px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  text-shadow: 5px 2px 2px #000;
}

.image-box {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.image-box > #image {
  width: 25%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border: 5px solid #000;
}

.cta-box {
  width: 100%;
  height: 80px;
  text-align: center;
}

.btn-xlg {
  font-family: 'Amatic SC', cursive;
  font-size: 1.7em;
  letter-spacing: 5px;
  text-align: center;
  width: 300px;
  background-color: #000;
  color: #fff;
  mmargin-top: 20px;
  margin-right: 10px;
}

.btn-xlg:hover {
  background-color: #000;
  color: #fff;
  letter-spacing: 7px;
  box-shadow: 5px 5px 15px #3c8293;
}

.messages-container {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
}

.messages-box {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 600px;
}

.error-messages {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
}

.content {
  color: #fff;
  background-color: #262626;
  width: 100%;
  height: 86%;
  padding: 20px;
  overflow: auto;
}

.content h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  letter-spacing: 5px;
}

.content a {
  color: #bfbfbf;
  transition: color 1s;
}

.content a:hover {
  color: #fff;
  text-decoration: none;
}

.about-content-box {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: left;
  width: 70%;
  max-width: 980px;
}

#public-content-img {
  max-width: 200px;
  width: 100%;
  border: 5px solid #000;
}

.page-data-box {
  text-align: left;
  width: 70%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.page-item-box {
  border: 3px solid #fff;
  transition: box-shadow 0.5s, border 0.5s;
  margin-bottom: 40px;
}

.page-item-box:hover {
  border: 5px solid #000;
}

.page-content-header {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #000;
}

.page-content {
  margin-top: -10px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #fff;
  color: #000;
}

.image-float-left {
  float: left;
}

.min-height-extension {
  min-height: 270px;
  background-color: #fff;
}

.page-content > a, .faq-ul > li > a {
  color: #0099cc;
  font-weight: bold;
  transition: color 1s;
}

.page-content > a:hover, .faq-ul > li > a:hover {
  color: #35383d;
}

.faq-ul {
  padding-bottom: 5px;
  color: #000;
  background-color: #fff;
  margin-bottom: 0px;
}

.services-images-container {
  margin-left: 2px;
  width: 100%;
  text-align: center;
}

.services-image-box {
  width: 33%;
  float: left;
  margin-bottom: 20px;
  margin-top: 0px;
}

.data-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

#icon-image {
  max-width: 40px;
  height: auto;
  margin-right: 20px;
}

.reservation-options, .testimonial-options {
  margin-top: 0px;
  background-color: #fff;
}

.data-content {
  width: 100%;
  text-align: center;
}

.paginate-box {
  margin-top: 10px;
}

.info-icon {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

/*
.put-class-here .tooltiptext {
  float:left;
  border: 1px solid #fff;
  visibility: hidden;
  width: 20%;
  max-width: 150px;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  text-align: center;
  border-radius: 3px;
  padding: 0px;

  position: absolute;
  z-index: 1;
}

.put-class-here .tooltiptext {
  visibility: visible;
}
*/

.show-data-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  height: 35px;
  line-height: 35px;
  width: 80%;
  max-width: 900px;
  background-color: #000;
  color: #fff;
}

.show-data-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  height: auto;
  min-height: 50px;
  width: 80%;
  max-width: 900px;
  background-color: #fff;
  color: #000;
}

.show-edit-box {
  width: 100%;
  text-align: center;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 60%;
}

.btn.btn-primary.btn-med, .btn.btn-primary.btn-lg {
  color: #fff;
  background-color: #000;
  border-color: #fff;
  border-radius: 2px 2px 2px 2px;
  transition: background-color 1s, letter-spacing 1s;
}

.btn.btn-primary.btn-med:hover, .btn.btn-primary.btn-lg:hover {
  color: #fff;
  background-color: #0099cc;
  border-color: #fff;
}

.btn.btn-primary.btn-lg {
  margin-top: 10px;
}

.control-label {
  font-family: 'Amatic SC', cursive;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 5px;
}

.label-style {
  font-family: 'Amatic SC', cursive;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 10px;
}

.add-top-margin {
  margin-top: 8px;
}

#ms-pet-list, #ms-user-list {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.ms-selectable, div.ms-selection {
  border-radius: 5px;
  padding: 5px;
}

.datepicker {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type=radio] {
  margin-left: 5px;
  margin-right: 10px;
}

#radio-box {
  margin-top: 20px;
}

#radio-label {
  margin-top: 14px;
  margin-bottom: 10px;
}

#instructions-count, #testimonials-count, #contact-count {
  margin-top: 5px;
  font-size: 0.8em;
}

#instructions-label {
  margin-top: 10px;
}

textarea {
  margin-top: 10px;
}

.block-width-small {
  width: 70%;
  max-width: 600px;
}

.testimonial-approved-icon-box {
  text-align: right;
  float: right;
  width: 10%;
  margin-right: 5px;
}

.small-form-width {
  max-width: 300px;
}

.medium-form-width {
  max-width: 500px;
}

.verified-glyph {
  float: right;
  line-height: 20px;
  font-size: 1.6em;
}

footer {
  position: relative;
  bottom: 0px;
  margin-top: 0px;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #777;
  background-color: #404040;
}

footer a {
  color: #777;
  transition: color 1s;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-size: 0.8em;
}

/* responsive styles */

@media screen and (max-width: 500px) {
  footer ul {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 100%;
  }

  .form-container {
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  #testimonial-image {
    width: 90%;
    margin-top: -10px;
  }
}

@media screen and (max-width: 599px) {
  .page-data-box {
    width: 90%;
  }

  .about-content-box {
    width: 90%;
  }
}

@media screen and (max-width: 619px) {
  .image-box > #image {
    width: 25%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #000;
  }
}

@media screen and (max-width: 650px) {
  .image-float-left {
    float: none;
    text-align: center;
  }

  .error-messages {
    width: 85%;
  }
}

@media screen and (max-width: 750px) {
  .messages-box {
    margin-left: 20px;
    width: 90%;
  }

  .messages-box > .row {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #bfbfbf;
    transition: color 1s, background-color 1s;
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #000;
  }
}

@media screen and (max-width: 782px) {
  .data-container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .testimonial {
    width: 100%;
  }
}
