$navbar-default-bg: #404040;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #404040;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px 0px 0px 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #bfbfbf;
  transition: background-color 1s;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #000;
  color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #bfbfbf;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  transition: text-shadow 0.5s;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 5px 2px 2px #000;
}

.center {
  text-align: center;
}

.jumbotron {
  background-color: #262626;
  height: auto;
  margin-bottom: 0px;
}

.jumbotron h1 {
  margin-top: 0px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  text-shadow: 5px 2px 2px #000;
}

.image-box {
  width: 100%;
  height: auto;
}

.image-box > #image {
  width: 25%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border: 5px solid #000;
}

.cta-box {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  text-align: center;
}

.btn-xlg {
  font-family: 'Amatic SC', cursive;
  font-size: 1.7em;
  letter-spacing: 5px;
  text-align: center;
  width: 300px;
  background-color: #000;
  color: #fff;
}

.btn-xlg:hover {
  background-color: #000;
  color: #fff;
  letter-spacing: 7px;
  box-shadow: 5px 5px 15px #3c8293;
}

.messages-container {
  text-align: center;
  width: 100%;
  position: absolute;
}

.messages-box {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.content {
  color: #fff;
  background-color: #262626;
  width: 100%;
  overflow: scroll;
  min-height: 550px;
  padding: 20px;
}

.content h1 {
  margin-top: 0px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  letter-spacing: 5px;
}

.content a {
  color: #bfbfbf;
  transition: color 1s;
}

.content a:hover {
  color: #fff;
  text-decoration: none;
}

.data-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.data-icon {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

#icon {
  max-width: 50px;
  height: auto;
}

.data-image-box {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

#icon-image {
  max-width: 40px;
  height: auto;
  margin-right: 20px;
}

.data-header {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 50px;
}

.data-header .ul-list, .data-content .ul-list {
  list-style-type: none;
}

.data-header .ul-list .li-list {
  margin-left: 5px;
  margin-right: 5px;
  height: 70px;
  float: left;
  width: 30%;
  background-color: #000;
  color: #fff;
}

.data-content {
  width: 100%;
  text-align: center;
}

.paginate-box {
  margin-top: 10px;
}

.data-content .li-list {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  height: 45px;
  line-height: 45px;
  float: left;
  width: 30%;
  background-color: #fff;
  color: #000;
}

.data-content .li-list a {
  margin-top: 5px;
  color: #fff;
  transition: color 1s;
}

.data-content .li-list a:hover {
  color: #fff;
}

.data-date-check-box, .data-pet-name-box {
  float: left;
  width: 12%;
  color: #000;
  height: 45px;
  line-height: 45px;
}

.info-icon {
  width: 30px;
  height: auto;
}

.data-pet-list-box {
  width: 88%;
}

.data-user-name-box {
  float: left;
  width: 50%;
}

.data-admin-pet-box {
  float: left;
  width: 60%;
  text-align: center;
}

.data-date-check-box .tooltiptext {
  float:left;
  border: 1px solid #fff;
  visibility: hidden;
  width: 10%;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  text-align: center;
  border-radius: 3px;
  padding: 0px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.data-date-check-box:hover .tooltiptext {
  visibility: visible;
}

.show-data-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  height: 35px;
  line-height: 35px;
  width: 80%;
  background-color: #000;
  color: #fff;
}

.show-data-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  height: auto;
  min-height: 50px;
  width: 80%;
  background-color: #fff;
  color: #000;
}

.show-edit-box {
  width: 100%;
  text-align: center;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 60%;
}

.btn.btn-primary.btn-med, .btn.btn-primary.btn-lg {
  color: #fff;
  background-color: #000;
  border-color: #fff;
  border-radius: 2px 2px 2px 2px;
  margin-bottom: 30px;
  transition: background-color 1s, letter-spacing 1s;
}

.btn.btn-primary.btn-med:hover, .btn.btn-primary.btn-lg:hover {
  color: #fff;
  background-color: #0099cc;
  border-color: #fff;
  margin-bottom: 30px;
}

.btn.btn-primary.btn-lg {
  margin-top: 20px;
}

.control-label {
  font-family: 'Amatic SC', cursive;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 5px;
}

#ms-pet-list {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

div.ms-selectable, div.ms-selection {
  border-radius: 5px;
  padding: 5px;
}

.datepicker {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type=radio] {
  margin-left: 5px;
  margin-right: 10px;
}

#radio-box {
  margin-top: 20px;
}

#meds-label {
  margin-top: 14px;
}

#instructions-count {
  margin-top: 5px;
  font-size: 0.8em;
}

#instructions-label {
  margin-top: 10px;
}

textarea {
  margin-top: 10px;
}

footer {
  margin-top: 0px;
  width: 100%;
  height: 50px;
  padding: 10px;
  color: #777;
  background-color: #404040;
}

footer a {
  color: #777;
  transition: color 1s;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-size: 0.8em;
}

@media screen and (max-width: 500px) {
  footer ul {
    display: none;
  }
}
