<div class="alert alert-danger disclaimer">
  <a href="#" class="close" data-dismiss="alert">&#215;</a>
  *This site is now used for demonstration and portfolio purposes only. Please note that you are not requesting a real service when interacting with this site.
</div>
